<menu>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/get">Get data JSON Format</a></li>
        <li><a href="/countObj">Count JSON object</a></li>
        <li><a href="/detail">View lasted log</a></li>
        <li><a href="/drop">Drop database</a></li>
    </ul>
</menu>