<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IoT Server</title>
    <style media="screen">
      body{
        background: indianred;color: #ffffff;padding: 30px;
      }
      h1{
        text-align: center; size: 40px
      }
      h2{
        text-align: center; size: 20px
      }
    </style>
</head>
<body>
    <h1>!!! No Data !!!</h1>
    <h2>Somethng wrong. Drop table or Anything else</h2>
</body>
</html>